body {
    background-image: linear-gradient(315deg, #b8c6db 0%, #c78ce0 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #657fa7;
}

form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    padding: 65px;
    border-radius: 3px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h1 {
    display: flex;
    align-self: center;
    font-size: 30px; 
}

label {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

#question {
    padding: 30px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

#btn {
    background-color: #af58d4;
    color: #fff; 
    width: 100%;
    border: none;
    padding: 15px;
    font-size: 15px;
    border-radius: 3px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bolder;
    margin-top: 10px;
}
